#wrapper {
    width: 100%;
    margin: 0px auto;
    background-color: #fff;
    text-align: center;
}

mat-toolbar {
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    background-color: var(--color-1);
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    padding: 0 0px;
}

input {
    width: 35px;
    height: 35px;
    font-size: 1.2em;
    text-align: center;
    margin: 5px 2px;
    outline: none;
    border: 0.1px solid black;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.resend {
    background-color: var(--button);
    color: whitesmoke;
    padding: 5px 10PX;
    border-radius: 10px;
    margin: 10px 5px;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.btn {
    width:80%;
    height: 50px;
    border-radius: 50px;
    background-color: var(--button);
    font-size: 25px;
    color: whitesmoke;
    border: none;
    outline: none;
}
.container{
    width: 100%;
    height: calc(100vh - 60px);
    overflow: auto;
}