<div id="wrapper">

  <div id="banner">
    <div id="slider">
      <span *ngIf="!slider_data?.length">
        <img src="../../../assets/Images/slider.png" alt="" width="100%" height="215px">
      </span>

      <swiper [spaceBetween]="30" [centeredSlides]="true" [autoplay]="{
              delay: 4000,
              disableOnInteraction: false
            }" [pagination]="{
              clickable: true
            }" [grabCursor]="true" [navigation]="true" class="mySwiper">

        <ng-template swiperSlide *ngFor="let slider of slider_data"> <img class="slider_img"
            src="{{imageUrl}}{{slider?.Path}}" width="100%" height="100%">
        </ng-template>

      </swiper>
    </div>
  </div>

  <!-- for free video open  -->

  <div class="titileCard">
    <b style="color: green;">Free Videos</b>
  </div>
  <div id="videos">
    <span class="no_message" *ngIf="!free_video_data?.length">No Free Video</span>
    <swiper [spaceBetween]="30" [centeredSlides]="true" [autoplay]="{
      delay: 6000,
      disableOnInteraction: false
    }" [grabCursor]="true" [navigation]="true" class="mySwiper">

      <ng-template id="videos" swiperSlide *ngFor="let free_video of free_video_data">
        <div (click)="OnFreeVideo(free_video)">
          <div class="contentarea">
            <div class="subjectTitile">{{free_video?.SubjectName | titlecase}}</div>
            <div class="videotitile">
              {{free_video?.VideoTitle | titlecase}}
            </div>
            <div class="star">
              <img src="../../../assets/icon/star.png" alt="">
              4.8 &nbsp; &nbsp; | Free Videos
            </div>
          </div>
          <div class="imgarea">
            <img [src]="free_video?.VideoLogo ? img_url+free_video?.VideoLogo : free_video?.ImageUrl ? img_url+free_video?.ImageUrl :'../../../assets/Images/thumanal.png'"
              alt="">
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>

  <div class="titileCard">
    <b>Suggested Videos</b>
  </div>
  <div id="videos">
    <span class="no_message" *ngIf="!Suggestionvideo?.length">No Suggested Video</span>

    <swiper [spaceBetween]="30" [centeredSlides]="true" [autoplay]="{
      delay: 5000,
      disableOnInteraction: false
    }" [grabCursor]="true" [navigation]="true" class="mySwiper">

      <ng-template id="videos" swiperSlide *ngFor="let Suggest of Suggestionvideo">
        <div (click)="onSuggesg(Suggest)">
          <div class="contentarea">
            <div class="subjectTitile">{{Suggest?.SubjectName | titlecase}}</div>
            <div class="videotitile">
              {{Suggest?.VideoTitle | titlecase}}
            </div>
            <div class="star">
              <img src="../../../assets/icon/star.png" alt="">
              4.8 &nbsp; &nbsp; | Suggested Videos
            </div>
          </div>
          <div class="imgarea">
            <img
              [src]="Suggest?.videoLogo ? img_url+Suggest?.videoLogo : Suggest?.ImageUrl ? img_url+Suggest?.ImageUrl :'../../../assets/Images/thumanal.png'"
              alt="">
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>

  <div class="titileCard">
    <b>Suggested MCQ Test</b>
  </div>
  <span class="no_MCQ" *ngIf="!suggestedTest?.length">No Suggested MCQ Test</span>
  <div id="videos" (click)="onMCQ(suggestedTest)">
    <div class="contentarea">
      <div class="subjectTitile">{{suggestMCQ_sub | titlecase}}</div>
      <div class="videotitile">
        {{suggestMCQ_title | titlecase}}
      </div>
      <div class="star">
        <img src="../../../assets/icon/star.png" alt="">
        4.7 &nbsp; &nbsp; | MCQ test
      </div>
    </div>
    <div class="imgarea"><img src="../../../assets/icon/test.png" alt="" width="100%" height="100%">
    </div>
  </div>
</div>