<mat-sidenav-container>
    <mat-sidenav #sidebar mode="over">
        <mat-card class="profile_card">
            <div class="imagearea">
                <img [src]="profile == '' ? '../../../assets/icon/user.png' : img_url+profile" alt="">
            </div>

            <div class="name"> &nbsp; &nbsp; {{name}} &nbsp; <button mat-icon-button color="primary"
                    (click)="sidebar.toggle()" (click)="onProfile()"><mat-icon>edit</mat-icon></button> </div>
        </mat-card>

        <mat-nav-list>
            <mat-toolbar class="buynowcard" (click)="sidebar.toggle()" (click)="Plan()">
                <div>
                    Your Plan Validity
                    <a *ngIf="SubscriptionStatus == 0">Buy Now </a>
                </div>
                <mat-icon>navigate_next</mat-icon>
            </mat-toolbar>
            <br>

            <a mat-list-item (click)="sidebar.toggle()" [routerLink]="['/contactus']">
                <img src="../../../assets/icon/contact-us.png" alt="" width="30px" height="30px">
                &nbsp; <span>Contact Us</span>
            </a>

            <a mat-list-item (click)="sidebar.toggle()" [routerLink]="['/about']">
                <img src="../../../assets/icon/about-us.png" alt="" width="30px" height="30px">
                &nbsp; <span>About Us</span>
            </a>

            <a mat-list-item (click)="sidebar.toggle()" [routerLink]="['/term']">
                <img src="../../../assets/icon/term-cond.png" alt="" width="30px" height="30px">
                &nbsp; <span>Terms & Conditions</span>
            </a>

            <a mat-list-item (click)="sidebar.toggle()" [routerLink]="['/chnagePassword']">
                <img src="../../../assets/icon/change-pass.png" alt="" width="30px" height="30px">
                &nbsp; <span>Change Password</span>
            </a>

            <a mat-list-item (click)="sidebar.toggle()" [routerLink]="['/getdevies']">
                <img src="../../../assets/icon/device-id.png" alt="" width="30px" height="30px">
                &nbsp; <span>Get Your Devies ID</span>
            </a>

            <!-- <a mat-list-item (click)="sidebar.toggle()"
                href="whatsapp://send?abid=phonenumber&text=https://play.google.com/store/apps/details?id=tbrain.in.medical.eduapp&hl=en_IN&gl=US">
                <img src="../../../assets/icon/share-app.png" alt="" width="30px" height="30px">
                &nbsp; <span>Share With Friends</span>
            </a> -->

            <div id="menuFooter">
                <a mat-list-item (click)="sidebar.toggle()" (click)="logout()">
                    <mat-icon style="transform: rotate(90deg); color: red;">save_alt</mat-icon>
                    &nbsp; <span style="color: red;">Logout</span> </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <button mat-icon-button (click)="sidebar.toggle()">
                        <mat-icon style="color: white;">notes</mat-icon>
                    </button>
                </mat-toolbar>
            </div>

            <div class="main">
                <main>
                    <router-outlet></router-outlet>
                </main>
            </div>

            <div id="footer">
                <mat-toolbar>
                    <button [routerLink]="['/home']">
                        <mat-icon>home</mat-icon>
                        <br><mat-hint>Home</mat-hint>
                    </button>

                    <button [routerLink]="['/home/subject']">
                        <mat-icon>video_library</mat-icon><br>
                        <mat-hint>Videos</mat-hint>
                    </button>

                    <button [routerLink]="['/mcqSubject']">
                        <mat-icon>assignment</mat-icon><br>
                        <mat-hint>Test</mat-hint>
                    </button>

                    <button [routerLink]="['/premiumSbject']">
                        <svg width="2em" height="2em" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="m9.675 13.7l.875-2.85L8.25 9h2.85l.9-2.8l.9 2.8h2.85l-2.325 1.85l.875 2.85l-2.3-1.775zM6 23v-7.725q-.95-1.05-1.475-2.4T4 10q0-3.35 2.325-5.675T12 2t5.675 2.325T20 10q0 1.525-.525 2.875T18 15.275V23l-6-2zm6-7q2.5 0 4.25-1.75T18 10t-1.75-4.25T12 4T7.75 5.75T6 10t1.75 4.25T12 16" />
                        </svg> <br>
                        <mat-hint>Go Premium</mat-hint>
                    </button>

                </mat-toolbar>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>