#wrapper {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: whitesmoke;
}

#imgarea {
    width: 100%;
    height: 250px;
    background-color: var(--color-1);
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result1 {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.result2 {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.result3 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-1);
}


.res {
    width: 100%;
    position: relative;
    top: -80px;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#contentarea {
    width: calc(100% - 20px);
    height: 120px;
    margin: 0px 10px;
    background-color: #fff;
    position: absolute;
    border-radius: 15px;
    top: 220px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.conttentbox {
    width: calc(50% - 24px);
    height: calc(calc(60px - 24px));
    margin: 2px;
    text-align: start;
    float: left;
    padding: 10px;
}

.conttentbox>p {
    margin-left: 20px;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
}

mat-toolbar>img {
    margin-right: 5px;
    width: 100%;
    height: 68px;
}

.sharebox {
    width: 100%;
    height: calc(100vh - 350px);
    margin-top: 100px;
}
.sharearea{
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}
.sharearea>.box{
    width: 100px;
    margin: 10px 10px 0px 10px;
}