.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #ecf2ff;
}

.top {
    width: 100%;
    height: 300px;
    background-color: #ff5f57;
    border-radius: 0 0 50px 50px;
    display: grid;
    place-items: center;
}

.top img {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
}

.top .round_1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: #f8f8f83b;
    margin-bottom: 50px;
}

.top .round_2 {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: #ffffff7d;
}

.top .round_3 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top .round_3 span {
    color: #ff5f57;
}

.top .round_3 h3 {
    margin: 8px;
    font-size: 34px;
    font-weight: 600;
}

.detailsBox {
    width: calc(100% - 46px);
    background-color: #ffffff;
    border-radius: 25px;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top: 241px;
    left: 50%;
    transform: translate(-50%, 0px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.detailsBox .info {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    margin: 15px;
}

.info .infoText {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100px;
}

.infoText span {
    text-wrap: wrap;
}

.infoText span:first-child {
    font-size: 24px;
}

.dot {
    background: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.bottom {
    width: 100%;
    max-height: calc(100% - 340px);
    background-color: #ecf2ff;
    padding: 170px 0 0;
    overflow: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
    gap: 10px;
}

.bottom .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.box .img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 17px;
    box-sizing: border-box;
    background-color: #b99436;
}

.bottom .box:nth-child(2n) .img {
    background-color: #b52ca8;
}

.bottom .box:nth-child(3n) .img {
    background-color: #5775eb;
}

.bottom .box:nth-child(4n) .img {
    background-color: #56bffd;
}


.img mat-icon {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 25px;
}

.box span {
    width: 100%;
    height: 40px;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.footer img {
    height: 6vh;
    margin: 0 5px;
    border-radius: 0;
    background: none;
}

.hidden {
    display: none;
}