#wrapper {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
}


#videoarea {
    width: 100%;
    height: 300px;
    z-index: 0;
}

#videoarea>iframe {
    width: 100%;
    height: 100%;
}


.description {
    width: calc(100% - 40px);
    height: auto;
    padding: 5px 20px;
    background-color: #f2f2f2;
}

.description p {
    width: 100%;
    line-height: 16px;
    text-align: left;
    color: #3b3b3b;
}

.title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

#videolistbox {
    height: calc(100vh - 410px);
    overflow-x: auto;
    padding: 10px 0px 0px;
    background: #f2f2f2;
}

.cardlist {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.videoarea {
    width: 100%;
    height: 220px;
}

.content {
    width: calc(100% - 20px);
    padding: 10px;
    height: auto;
    background-color: #ffffff;
}

.content p {
    color: #000;
    font-weight: bold;
    /* display: inline-block;
    max-width: 32ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}

.titile {
    width: 100%;
    height: 75%;
}

.star {
    /* width: 100%; */
    height: 10px;
    /* padding: 2px; */
    position: relative;
    bottom: 15px;
}

.star img {
    position: relative;
    top: 3px;
}
b {
    float: right;

    padding: 1px 5px 5px 5px;
    border-radius: 5px;
}

.free {
    color: whitesmoke;
    background-color: green;
}

.free mat-icon {
    color: whitesmoke;
}

.paid {
    color: #ffd72e;
    background-color: #ea285b;
}

.PaymentPay {
    color: whitesmoke;
    background-color: #ea285b;
}

.PaymentPay mat-icon {
    color: whitesmoke;
}

b mat-icon {
    position: relative;
    top: 5px;
    color: #ffe35a;
}



@media (max-width: 600px) {
    .notshared {
        width: 100%;
        height: 18%;
        position: fixed;
        top: 0;
        background-color: transparent;
    }

    .hidefullscrreen {
        width: 120px;
        height: 40px;
        z-index: 2;
        position: relative;
        top: -50px;
        float: right;
    }

}

@media (min-width: 601px) {
    .notshared {
        width: 100%;
        height: 18%;
        background-color: transparent;
        position: fixed;
        top: 0;
    }

    #wrapper {
        width: 100%;
        height: auto;
        background-color: #ffffff;
    }


    .hidefullscrreen {
        width: 200px;
        height: 40px;
        position: relative;
        top: -50px;
        float: right;
    }
}