<div id="wrapper">
    

    <div id="imgarea">
        <img src="../../assets/prolock.jpg" alt="" width="100%" height="100%">
    </div>
   
    <div id="mainarea">
        <b>This is a Premium Feature        </b>
        <p>Get a premium plan to unlock all content <br>
            What you will get:            
        </p>

        <div class="colume">
            <div class="logo">
                <img src="../../../assets/icon/pro-video.png" alt="" width="40px" height="40px">
            </div>
            <div class="content">
             Unlimited access to all video lectures
            </div>
        </div>

        <div class="colume">
            <div class="logo">
                <img src="../../assets/icon/test.png" alt="" width="40px" height="40px">
            </div>
            <div class="content">
                Unlimited attempts of all practice tests
            </div>
        </div>

        <div class="colume">
            <div class="logo">
                <img src="../../assets/icon/test.png" alt="" width="40px" height="40px">
            </div>
            <div class="content">
               Access to More than 2000+ MCQs
            </div>
        </div>

        <div class="colume">
            <div class="logo">
                <img src="../../../assets/icon/pro-video.png" alt="" width="40px" height="40px">
            </div>
            <div class="content">
                  Access to all future videos
            </div>
        </div>
        <div class="line">
            Prices Rising Soon 
           
        </div>
        <div class="line">
            <b style="color: green;">Hurry Up!</b>
           
        </div>
        <br>
        <button routerLink="/premiumSbject">
            View Plan
        </button>
       

       
    </div>
</div>