#wrapper {
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
}

.titileCard {
  width: 90%;
  height: 40px;
  margin: 20px auto 0px;
  padding: 10px 0px;
  border-left: 10px solid green;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#box {
  overflow: auto;
}

.titileCard b {
  font-size: 25px;
}

.example-card {
  width: 90%;
  margin: 10px auto 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

.example-header-image {
  background-image: url('../../../assets/icon/unit.png');
  background-size: cover;
}