<div id="wrapper">
    <mat-toolbar>
        <button mat-icon-button routerLink="/home">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span> About us </span>
        <span></span>
    </mat-toolbar>

    <div id="content" *ngIf="aboutUs?.length===null">
        <h2> Welcome to EduAffair! </h2>
        At EduAffair, we believe that education is the key to unlocking a brighter future. Our mission is to bridge the
        gap between aspiring students and their educational goals, offering a comprehensive platform designed to guide
        and support learners through every stage of their academic journey. <br><br>

        <h4> Who We Are </h4>
        EduAffair is a dedicated team of education professionals, career counselors, and tech enthusiasts committed to
        making educational resources accessible and manageable for everyone. With a deep understanding of the diverse
        needs of students, we provide a range of services and tools tailored to help you make informed decisions about
        your education.
    </div>
    <div id="content">
        <div class="termsColor" [innerHTML]="aboutUs"> </div>
    </div>

    <div class="devloped">
        <p>Powered By:- <b style="color: #119895;">EDU Affair</b> </p>
    </div>
</div>

