<div id="wrapper">
    <mat-toolbar>
        <button mat-icon-button routerLink="/"><mat-icon>arrow_back</mat-icon></button>
        <span> Forget Password </span>
        <span></span>
    </mat-toolbar>

    <div id="contener">
        <div id="imgarea">
            <img src="../../assets/icon/forgetpassword.png" width="200px" height="200px">
        </div>
        <br><br>
        <!-- for send otp  -->
        <div *ngIf="send_otp">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Registered Email</mat-label>
                <input #email type="text" matInput placeholder="Enter your registered email"
                    (keyup.enter)="sendOTP(email.value)">
            </mat-form-field>
            <button class="btn" (click)="sendOTP(email.value)">Verify</button>
        </div>

        <!-- for verify otp  -->
        <div *ngIf="verify_otp">

            <div class="verifiedOtp">
                <input #otp1 id="digit1" type="number" maxlength="1" oninput="moveToNext(this, 'digit2')"
                    onKeyPress="if(this.value.length==1) return false;">

                <input #otp2 id="digit2" type="number" maxlength="1" oninput="moveToNext(this, 'digit3')"
                    onKeyPress="if(this.value.length==1) return false;">

                <input #otp3 id="digit3" type="number" maxlength="1" oninput="moveToNext(this, 'digit4')"
                    onKeyPress="if(this.value.length==1) return false;">

                <input #otp4 id="digit4" type="number" maxlength="1" oninput="moveToNext(this, 'digit5')"
                    onKeyPress="if(this.value.length==1) return false;">

                <input #otp5 id="digit5" type="number" maxlength="1" oninput="moveToNext(this, 'digit6')"
                    onKeyPress="if(this.value.length==1) return false;">

                <input #otp6 id="digit6" type="number" maxlength="1" oninput="moveToNext(this, 'digit7')"
                    onKeyPress="if(this.value.length==1) return false;">
            </div>

            <button class="btn"
                (click)="verifyOTP(otp1.value + otp2.value + otp3.value +otp4.value +otp5.value +otp6.value)">Verify</button>
        </div>

        <!-- for chaneg password  -->

        <div *ngIf="passwordChange">
            <form [formGroup]="passwordForm">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>New Password</mat-label>
                    <input (keyup.enter)="chnagePassword(password.value)" matInput type="text" placeholder="Abc@1234"
                        formControlName="password" #password>

                    <mat-hint>
                        <span *ngIf="passwordForm.get('password')?.errors?.['required']">Password is required</span>
                        <ng-container
                            *ngIf="passwordForm.get('password')?.invalid && (passwordForm.get('password')?.dirty || passwordForm.get('password')?.touched)">
                            <span *ngIf="passwordForm.get('password')?.errors?.['pattern']">Invalid password
                                format</span>
                            <span
                                *ngIf="!passwordForm.get('password')?.errors?.['pattern'] && passwordForm.get('password')?.errors?.['minlength']">Password
                                must be at least 8 characters long</span>
                            <span
                                *ngIf="!passwordForm.get('password')?.errors?.['pattern'] && passwordForm.get('password')?.errors?.['maxlength']">Password
                                cannot exceed 30 characters</span>
                        </ng-container>
                    </mat-hint>

                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input (keyup)="Cpass($event)" type="text" matInput placeholder="Enter confirm password"
                        formControlName="Cpassword">
                    <mat-hint *ngIf="CPwd">
                        Password not match
                    </mat-hint>
                </mat-form-field>
                <button class="btn" (click)="chnagePassword(password.value)">Submit</button>
            </form>
        </div>
    </div>
</div>