#wrapper {
    width: 100%;
    height: 100%;
}

mat-toolbar {
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    background-color: var(--color-1);
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    padding: 0 10px 0px 0px;
}

#contener {
    width: 90%;
    height: calc(100vh - 90px);
    overflow: auto;
    margin: 30px auto;
    font-size: 15px;
    line-height: 25px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

#imgarea {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.example-full-width {
    width: 100%;
}

.btn {
    width: 80%;
    height: 50px;
    border-radius: 50px;
    background-color: var(--button);
    font-size: 20px;
    color: whitesmoke;
    position: relative;
    left: 10%;
    border: none;
    outline: none;
    margin: 10px 0px;
}

.verifiedOtp {
    text-align: center;
}

.verifiedOtp>input {
    width: 35px;
    height: 35px;
    font-size: 1.2em;
    text-align: center;
    margin: 5px 2px;
    outline: none;
    border: 0.1px solid black;
}

.verifiedOtp>input[type=number]::-webkit-inner-spin-button,
.verifiedOtp>input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}